@page "/"

<PageTitle>Blazor Bootstrap - WebAssembly App (.NET 6) - Starter Template</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Blazor Bootstrap - WebAssembly App (.NET 6).

<SurveyPrompt Title="How is Blazor working for you?" />
