@page "/"

<PageTitle>Blazor Bootstrap - WebAssembly Standalone App (.NET 9) - Starter Template</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Blazor Bootstrap - WebAssembly Standalone App (.NET 9).
